.other-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.other-container .areas-row {
    padding-top: var(--6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    position: absolute;
    top: 0;
}

.main-row {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    max-width: 1440px;
    width: 100%;
    padding-bottom: var(--6);
}

.img-grid {
    transform: translateX(140vh);
    animation: y 80s linear infinite alternate;
}

@keyframes y {
    0% {
        transform: translateX(140vh);
    }
    100% {
        transform: translateX(-140vh);
    }
}