.logo-small {
    position: absolute;
    padding: var(--5);
    top: calc(100vh - 220px);
    left: 0;
    z-index: 99;
    }

.project-list {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--4);
    overflow: hidden;
    position: relative;
}

.project-list .projects {
    padding: var(--9) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--4);
}

.clients {
    display: flex;
    top: 0;
    width: 80%;
    position: absolute;
    justify-content: space-between;
    gap: var(--4);
    margin-top: var(--4);
    color: var(--secondary);
}