.logo-small {
    position: fixed;
    padding: var(--5);
    bottom: 0;
    left: 0;
    z-index: 99;
}

.project-list {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--4);
    overflow: hidden;
}

.clients {
    display: flex;
    top: 0;
    width: 80%;
    position: fixed;
    justify-content: space-between;
    gap: var(--4);
    margin-top: var(--4);
    color: var(--secondary);
}